{% extends 'base.html' %}
{% block title %}
    {{ category.title }} :: {{ block.super }}
{% endblock %}
{% block sidebar %}
    {% include 'inc/_sidebar.html' %}
{% endblock %}
{% block content %}
    {% for new in news %}
        <div class="card text-center mb-3">
            <div class="card-header">
                <h5>Категория: {{ new.category.title }}</h5>
            </div>
            <div class="card-body">
                <h5 class="card-title">#{{ new.pk }} {{ new.title }}</h5>
                <div class="media">
                    {% if new.photo %}
                        <img src="{{ new.photo.url }}" alt="" width="300px">
                    {% endif %}
                </div>
                <p class="card-text">{{ new.content|safe|linebreaks|truncatewords:30 }}</p>
                <a href="{{ new.get_absolute_url }}" class="btn btn-primary">просмотреть</a>
            </div>
            <div class="card-footer text-muted">
                Дата публикации: {{ new.created_at |  date:'d-m-Y H:i' }}
            </div>
        </div>
    {% empty %}
        <p>Извините, здесь ничего нет...</p>
    {% endfor %}
{% endblock %}